.chat-container {
    width: 90%;
    max-width: 1000px;
    margin: auto; 
    padding: 20px;
}

.chat-box {
    min-width: 80%;
    max-width: 1000px;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    background-color: #282c34;
    overflow-y: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
}
.chat-message {
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: inline-block;
    color: #fff;
    max-width: 80%; 
}

.chat-message.bot {
    background-color: #05a7f3;
    align-self: flex-start; 
    text-align: left;
}

.chat-message.user {
    background-color: #065c68;
    align-self: flex-end;
    text-align: right;
}

.input-container {
    
    max-width: 1000px;
    margin: 0 auto; 

}

.chat-input {
    width: 90%;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    color: #fff;
    background-color: #282c34;
    font-size: 18px; 
    outline: none; /* Remove default focus outline */
}

/* Change color of placeholder text */
.chat-input::placeholder {
    color: white;
}

/* Add custom focus outline */
.chat-input:focus {
    border: 2px solid white;
}

.send-button {
    width: 50px;
    height: 50px;
    background-color: #0a7642;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.send-button:hover {
    background-color: #0da270;
}
.feedback-buttons {
    display: inline-block;
    margin-left: 10px;
}

.feedback-buttons button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #05a7f3;
}

.feedback-buttons button:hover {
    color: #065c68;
}

